<!DOCTYPE html>
<html>
<head>
<title>Layout</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"type="text/css" href="css/style.css">
</head>
    <body>
        <div class="main">
			    <div class="side">
	       <h3>Up to 30% off*<a href="facebook.com">𝖘𝖆𝖑𝖊 𝖎𝖙𝖆𝖒𝖘</a> *free shipping over $45<h3>
		  
	    </div>	
		
			<div class="heder"><!--this a header-->
			    <div class="text1">
				   <h1>𝔹𝕃𝕀𝕊𝕊</h1>
				
		    <div class="botton1">
	            <a href="https://www.youtube.com/watch?v=M35_fMbNAMY" style="text-decoration:none">ℕ𝔼𝕎</a>
		          🎀
		        <a href="https://www.youtube.com/watch?v=M35_fMbNAMY" style="text-decoration:none">𝕊𝕂𝕀ℕℂ𝔸ℝ𝔼</a>
		         🎀
		       <a href="https://www.youtube.com/watch?v=M35_fMbNAMY" style="text-decoration:none">𝔹𝕆𝔻𝕐</a>
		         🎀
		        <a href="https://www.youtube.com/watch?v=M35_fMbNAMY" style="text-decoration:none">𝕊ℍ𝕆ℙ 𝔸𝕃𝕃</a>
	        </div>
			    </div>	
		    </div>  

			
			
			
			
			
			
			<div class="main2"><!--this a body-->
			    <div class="image1">
			        <img src="img/1212.jpg" alt="" style="height:408px; width:390px;" />
					
					</div>
					<div class="image2">
					 <img src="img/eee.jpg" alt="" style="height:330px; width:390px;" />
					</div>
				        <div class="rowtext">
				         <h1>There's A Mask For That</h1>
						 <h3><p>Skin felling Dry? Dull? stressed-out? Keep your<br> complexion in check with one of our glow-giving<br>masks, available in a variety of forms and feels</p></h3>
				        
						</div>
			</div>
			
			
			
			
			

		</div>
    </body>
</html>